.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content-area{
  background: #eee;
  padding: 10px 0;
}

/*___________________________________________________*/
/*                  Modified Below                   */
/*___________________________________________________*/

/*Classroom*/
.class-room{
  overflow: hidden;

  background: white;

  width: 80%;
  margin: auto;
  border-radius: 5px;
}
/*Teacher*/
.teacher h1{
  background: #bbb;
  color: white;
  padding: 10px 0;
  margin: 0;
}
/*Student*/

.student{
  background: white;
  display: inline-block;

  margin: 5px;
  width: Calc( (100% / 3) - 40px);
  padding: 10px;
  border-radius: 5px;

  border: thin solid #eee;
}

.student-img img{
  width: 100%;
  height: 100%;
}

.student-name{
  background: #ccc;
  font-size: 12px;
}

.grade-value{
  background: #eee;
  padding: 5px;
}

.grade-value span{
  font-size: 10px;
}

.content-area button{
  background: #03c;
  border: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 30px;
  cursor: pointer;
  color: white;
}